{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>MFinance</title>
  <meta name="theme-color" content="#fff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
    <body class="dashboard">
  <main>
    <div class="dashboard">
      <div class="top-row">
        <div class="top-row__statistic">
          <div class="h2">
              {{request.user.username|capfirst}} Account
          </div>

        </div>
        <div class="top-row__account">
          <div class="name">
            {{request.user.wallet}} on ur wallet
          </div>
          <div class="top-row__currency">

          </div>
        </div>
        <div class="logout-button">
          <a href="{% url 'logout' %}">
            <img src="{% static 'img/logout-icon.svg' %}" alt="icon">
            Log out
          </a>
        </div>
      </div>
      <div class="dashboard__row">
        <div class="dashboard__transactions">
          <div class="dashboard__transactions-top">
              <h1>
                Transaction
              </h1>
            </div>
            <div class="transactions-table">
              <table>
                <thead>
                  <tr>
                    <td width="17%">Category</td>
                    <td width="17%">
                      Amount
                    </td>
                    <td width="17%">
                      Status
                    </td>
                    <td width="17%">
                      Earning
                    </td>
                    <td width="10%">
                      Action
                    </td>
                  </tr>
                </thead>
                <tbody>
                  {% for el in transactions %}
                    <tr>
                    <td class="">
                        {{el.category}}
                    </td>
                    <td>
                      $ {{el.amount}}
                    </td>
                    <td class="expence">
                      {{el.status}}
                    </td>
                    <td>
                      {{el.date}}
                    </td>
                    <td>
                      <a href="{% url 'transaction_delete' el.pk %}">
                        Delete
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>

     <div class="dashboard__row">
        <div class="dashboard__transactions">
          <div class="dashboard__transactions-top">
              <h1>
                Credit
              </h1>
            </div>
            <div class="transactions-table">
              <table>
            <thead>
              <tr>
                <td width="17%">Name</td>
                    <td width="17%">
                      Percent
                    </td>
                    <td width="17%">
                      Credit length
                    </td>
                    <td width="10%">
                      Ur paid
                    </td>
                    <td width="10%">
                      Amount
                    </td>
                    <td width="10%">
                      Actions
                    </td>
                  </tr>
            </thead>
                <tbody>
                  {% for credit, payment in credits %}
                    {% if not credit %}
                        <h1>Create credit</h1>
                    {% else %}

                    {% endif %}
                    <tr>
                    <td class="">
                        {{credit.name}}
                    </td>
                    <td>
                        {{credit.percent }} %
                    </td>
                    <td class="expence">
                      {{credit.credit_length}} month
                    </td>
                    <td>
                      {{credit.payed_times}}
                    </td>
                    <td>
                      {{ credit.amount }} $
                    </td>
                    <td>
                      <form method="POST" action="{% url 'increase_payed_times' credit.pk %}">
                        {% csrf_token %}
                        <button type="submit">Pay</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
          </table>
            </div>
          </div>
        </div>

      <div class="dashboard__row">
        <div class="dashboard__transactions">
          <div class="dashboard__transactions-top">
              <h1>
                Deposits
              </h1>
            </div>
            <div class="transactions-table">
              <table>
            <thead>
              <tr>
                <td width="17%">Name</td>
                    <td width="17%">
                      Percent
                    </td>
                    <td width="17%">
                      Deposit length
                    </td>
                    <td width="10%">
                      Get times
                    </td>
                    <td width="10%">
                      Amount
                    </td>
                    <td width="10%">
                      Actions
                    </td>
                  </tr>
            </thead>
                <tbody>
                  {% for deposit, payment in deposits %}
                    <tr>
                    <td class="">
                        {{deposit.name}}
                    </td>
                    <td>
                        {{deposit.percent }} %
                    </td>
                    <td class="expence">
                      {{deposit.deposit_length}} month
                    </td>
                    <td>
                      {{deposit.payed_times}}
                    </td>
                    <td>
                      {{ deposit.amount }} $
                    </td>
                    <td>
                      <form method="POST" action="{% url 'get_deposits' deposit.pk %}">
                        {% csrf_token %}
                        <button type="submit">Get</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
          </table>
            </div>
          </div>
        </div>

        <div class="dashboard__create">
            <h4>Create transactions</h4>
            <form action="{% url 'create-transactions' %}">
              <button type="submit" class="button">
                Create
              </button>
            </form>
          </div>
    <div class="dashboard__create">
            <h4>Create credit</h4>
            <form action="{% url 'create-credits' %}">
              <button type="submit" class="button">
                Create
              </button>
            </form>
          </div>
    <div class="dashboard__create">
            <h4>Create deposit</h4>
            <form action="{% url 'create-deposits' %}">
              <button type="submit" class="button">
                Create
              </button>
            </form>
          </div>
  </main>

  <script src="{% static 'js/vendor.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>